@import "tailwindcss";
@import "@pdfslick/solid/dist/pdf_viewer.css";
@font-face {
  font-family: "Red Hat Display";
  src: url("/assets/RedHatText-VariableFont-wght.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Red Hat Text";
  src: url("/assets/RedHatText-VariableFont-wght.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Red Hat Text', 'Red Hat Text', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Red Hat Display';
}